﻿
@model List<Project>

@{
    int count = 0;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Projects Table</h4>
                <a asp-controller="project" asp-action="create" class="btn btn-success">Create New Project</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Main Image
                                </th>
                                <th>
                                    Alternative
                                </th>
                                <th>
                                    Settings
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Project project in Model)
                            {
                                count++;
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @project.Name
                                    </td>
                                    <td>
                                        <img src="~/img/@project.ProjectImages.FirstOrDefault(pi=>pi.IsPrimary==true)?.URL" />
                                    </td>
                                    <td>
                                        @project.ProjectImages.FirstOrDefault(pi=>pi.IsPrimary==null)?.Alternative
                                    </td>
                                    <td>
                                        <a asp-action="update" asp-controller="project" asp-route-id="@project.Id" class="btn btn-warning btn-info"><i class="mdi mdi-pencil"></i></a>
                                        <a asp-action="delete" asp-controller="project" asp-route-id="@project.Id" class="btn btn-danger btn-info"><i class="mdi mdi-delete"></i></a>
                                        <a asp-action="detail" asp-controller="project" asp-route-id="@project.Id" class="btn btn-success btn-info"><i class="mdi mdi-open-in-new"></i></a>
                                    </td>
                                    <td>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>