@using PestKit.Areas.PestKitAdmin.ViewModels;
@using PestKit.Utilites.Enums;
﻿
@model PaginationVM<Position>

@{
    int count = 0;
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Position Table</h4>
                <a asp-controller="position" asp-action="create" class="btn btn-success">Create New Position</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Name
                                </th>
                                
                                <th>
                                    Settings
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Position position in Model.Items)
                            {
                                count++;
                                <tr>

                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @position.Name
                                    </td>
                                    
                                    <td>
                                        <a asp-action="update" asp-controller="position" asp-route-id="@position.Id" class="btn btn-warning btn-info"><i class="mdi mdi-pencil"></i></a>
                                        @if (User.IsInRole(UserRoles.Admin.ToString()))
                                        {
                                            <a asp-action="delete" asp-controller="position" asp-route-id="@position.Id" class="btn btn-danger btn-info"><i class="mdi mdi-delete"></i></a>
                                        }
                                        <a asp-action="details" asp-controller="position" asp-route-id="@position.Id" class="btn btn-success btn-info"><i class="mdi mdi-open-in-new"></i></a>

                                    </td>
                                    <td>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item @(Model.CurrentPage - 1<=0?"disabled":"")"><a class="page-link" asp-route-page="@(Model.CurrentPage-2)" asp-action="Index" asp-controller="position">Previous</a></li>
                        @for (int i = 1; i <= Model.TotalPage; i++)
                        {
                            <li class="page-item @(i==Model.CurrentPage?"disabled":"")"><a class="page-link" asp-route-page="@(i-1)" asp-action="Index" asp-controller="position">@i</a></li>
                        }
                        <li class="page-item @(Model.CurrentPage==Model.TotalPage?"disabled":"")"><a class="page-link" asp-route-page="@(Model.CurrentPage)" asp-action="Index" asp-controller="position">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>